body{
  background-color: #21211f !important;
  color: white !important;
}

#newCommentForm{
  background-color: black !important;
}

.movieDescArea {
  color: #ffffff;
}

.commentForm {
  color: #ffffff;
}

.commentTable{
  color: #ffffff;
}

#getintouch {
  max-width: 80%;
  text-align: justify;
}
