body{
  background-color: #21211f !important;
  text: white !important;
}

#newCommentForm{
  background-color: black !important;
}

.movieDescArea {
  color: #ffffff;
}

.commentForm {
  color: #ffffff;
}

.commentTable{
  color: #ffffff;
}
.navbar{
  width: 100%;
  display: flex;
}